@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@using System.Collections.Generic;
@using inRuolo.Models

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="TitoliPageAjax">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Profilo
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <!--<div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Apps
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Users
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Profile 1
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Email Settings
                </a>-->
            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            <!--</div>-->
        </div>
        <!--<div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn kt-subheader__btn-primary">
                    Actions &nbsp;-->
        <!--<i class="flaticon2-calendar-1"></i>-->
        <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--sm">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bound" x="0" y="0" width="24" height="24" />
                    <rect id="Rectangle-8" fill="#000000" x="4" y="5" width="16" height="3" rx="1.5" />
                    <path d="M7.5,11 L16.5,11 C17.3284271,11 18,11.6715729 18,12.5 C18,13.3284271 17.3284271,14 16.5,14 L7.5,14 C6.67157288,14 6,13.3284271 6,12.5 C6,11.6715729 6.67157288,11 7.5,11 Z M10.5,17 L13.5,17 C14.3284271,17 15,17.6715729 15,18.5 C15,19.3284271 14.3284271,20 13.5,20 L10.5,20 C9.67157288,20 9,19.3284271 9,18.5 C9,17.6715729 9.67157288,17 10.5,17 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
                </g>
            </svg>
        </a>
        <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="left">
            <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                        <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                    </g>
                </svg>-->
        <!--<i class="flaticon2-plus"></i>-->
        <!--</a>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">-->
        <!--begin::Nav-->
        <!--<ul class="kt-nav">
            <li class="kt-nav__head">
                Add anything or jump to:
                <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
            </li>
            <li class="kt-nav__separator"></li>
            <li class="kt-nav__item">
                <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-drop"></i>
                    <span class="kt-nav__link-text">Order</span>
                </a>
            </li>
            <li class="kt-nav__item">
                <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                    <span class="kt-nav__link-text">Ticket</span>
                </a>
            </li>
            <li class="kt-nav__item">
                <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-link"></i>
                    <span class="kt-nav__link-text">Goal</span>
                </a>
            </li>
            <li class="kt-nav__item">
                <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-new-email"></i>
                    <span class="kt-nav__link-text">Support Case</span>
                    <span class="kt-nav__link-badge">
                        <span class="kt-badge kt-badge--success">5</span>
                    </span>
                </a>
            </li>
            <li class="kt-nav__separator"></li>
            <li class="kt-nav__foot">
                <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
            </li>
        </ul>-->
        <!--end::Nav-->
        <!--</div>
                </div>
            </div>
        </div>-->
    </div>

    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">


            <!--Begin:: App Titoli-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__head kt-portlet__head--lg">
                                <div class="kt-portlet__head-label">
                                    <span class="kt-portlet__head-icon">
                                        <i class="kt-font-brand flaticon2-layers"></i>
                                    </span>
                                    <h3 class="kt-portlet__head-title">
                                        Titoli Di Studio
                                    </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <div class="kt-portlet__head-wrapper">
                                        <a href="#" class="btn btn-clean btn-icon-sm">
                                            <i class="la la-long-arrow-left"></i>
                                            Back
                                        </a>
                                        &nbsp;
                                        <div class="dropdown dropdown-inline">
                                            <button type="button" class="btn btn-brand btn-icon-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="flaticon2-plus"></i> Add New
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="kt-nav">
                                                    <li class="kt-nav__section kt-nav__section--first">
                                                        <span class="kt-nav__section-text">Choose an action:</span>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a class="kt-nav__link" id="addNewTitolo">
                                                            <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                                            <span class="kt-nav__link-text">Reservations</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" class="kt-nav__link" data-toggle="modal" data-target="#ModalTitoli">
                                                            <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                                            <span class="kt-nav__link-text">Appointments</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__body">

                                <!--begin: Search Form -->
                                @*<div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                                        <div class="row align-items-center">
                                            <div class="col-xl-8 order-2 order-xl-1">
                                                <div class="row align-items-center">
                                                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                                        <div class="kt-input-icon kt-input-icon--left">
                                                            <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                <span><i class="la la-search"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                                        <div class="kt-form__group kt-form__group--inline">
                                                            <div class="kt-form__label">
                                                                <label>Status:</label>
                                                            </div>
                                                            <div class="kt-form__control">
                                                                <select class="form-control bootstrap-select" id="kt_form_status">
                                                                    <option value="">All</option>
                                                                    <option value="1">Pending</option>
                                                                    <option value="2">Delivered</option>
                                                                    <option value="3">Canceled</option>
                                                                    <option value="4">Success</option>
                                                                    <option value="5">Info</option>
                                                                    <option value="6">Danger</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                                        <div class="kt-form__group kt-form__group--inline">
                                                            <div class="kt-form__label">
                                                                <label>Type:</label>
                                                            </div>
                                                            <div class="kt-form__control">
                                                                <select class="form-control bootstrap-select" id="kt_form_type">
                                                                    <option value="">All</option>
                                                                    <option value="1">Online</option>
                                                                    <option value="2">Retail</option>
                                                                    <option value="3">Direct</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                <!--end: Search Form -->
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fit">

                                <!--begin: Datatable -->
                                <div class="kt-datatable" id="ajax_data"></div>

                                <!--end: Datatable -->
                                <!-- Modal -->
                                <div class="modal fade" id="ModalTitoli" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content" id="modalContent">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Aggiungi Titolo</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="categoria">Categoria Titolo</label>
                                                    <select class="form-control" id="categoriaTitolo" onchange=FillTitolo()>
                                                    </select>
                                                </div>

                                                <label for="exampleFormControlSelect1">Titolo</label>
                                                <div class="form-group">
                                                    <select id="select2-multiple" class="form-control select2-single">
                                                        <option selected="selected" value="-1"> - Seleziona Prima Una Categoria - </option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Luogo Conseguimento Titolo</label>
                                                    <input type="text" class="form-control" id="luogo" placeholder="Luogo">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Data Conseguimento Titolo</label>
                                                    <select name="yearpicker" class="form-control" id="yearpicker"></select>

                                                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                                                    <script type="text/javascript">
                                                        let startYear = 1950;
                                                        let endYear = new Date().getFullYear();
                                                        for (i = endYear; i > startYear; i--) {
                                                            $('#yearpicker').append($('<option />').val(i + '/' + (i + 1)).html(i + '/' + (i + 1)));
                                                        }
                                                    </script>
                                                </div>

                                                <label for="exampleInputEmail1">Voto</label>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <input type="number" class="form-control" id="voto" placeholder="Voto">
                                                    </div>

                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" id="lode" value="option2">
                                                        <label class="form-check-label" for="inlineCheckbox2">Lode</label>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                                                <button type="button" class="btn btn-primary" id="salvaTitolo">Salva</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal::Esami -->
                                <!-- remote datatable modal -->
                                <div id="kt_modal_KTDatatable_remote" class="modal fade" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-xl modal-dialog-centered">
                                        <div class="modal-content" id="esamiModalId" style="min-height: 590px;">
                                            <div class="modal-header">
                                                <h5 class="modal-title">
                                                    Esami
                                                    <small>Aggiorna il Piano di Studi</small>
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" href="#examTab" data-toggle="tab">Esami</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#voTab" data-toggle="tab">Esami Vecchio Ordinamento</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="examTab" role="tabpanel">
                                                        <!--begin: Search Form -->
                                                        <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                                                            <div class="row align-items-center">
                                                                <div class="col-xl-8 order-2 order-xl-1">
                                                                    <div class="row align-items-center">
                                                                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                                                            <div class="kt-input-icon kt-input-icon--left">
                                                                                <input type="text" class="form-control" placeholder="Search..." id="examSearch">
                                                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                                    <span><i class="la la-search"></i></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                                                            <div class="kt-form__group kt-form__group--inline">
                                                                                <div class="kt-form__label">
                                                                                    <label>Area:</label>
                                                                                </div>
                                                                                <div class="kt-form__control">
                                                                                    <select class="form-control areaSelect1" id="areaSelect">
                                                                                        <option value="">All</option>
                                                                                        @{
                                                                                            List<AreaEsame> aree = (List<AreaEsame>)Session["Aree"];
                                                                                        }
                                                                                        @for (var i = 0; i < aree.Count; i++)
                                                                                        {
                                                                                            AreaEsame area = aree[i];
                                                                                            <option value="@area.Id">@area.Descrizione</option>
                                                                                        }
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--end: Search Form -->
                                                        @*</div>
                                                            <div class="modal-body modal-body-fit">*@

                                                        <!--begin: Datatable -->
                                                        <div id="modal_datatable_ajax_source"></div>

                                                        <!--end: Datatable -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-clean btn-bold btn-upper btn-font-sm" data-dismiss="modal">Chiudi</button>
                                                            <button type="button" class="btn btn-default btn-bold btn-upper btn-font-sm" id="salvaPianoDiStudi">Salva</button>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="voTab" role="tabpanel">
                                                        <!--begin: Search Form -->
                                                        <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                                                            <div class="row align-items-center">
                                                                <div class="col-xl-8 order-2 order-xl-1">
                                                                    <div class="row align-items-center">
                                                                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                                                            <div class="kt-input-icon kt-input-icon--left">
                                                                                <input type="text" class="form-control" placeholder="Search..." id="examVoSearch">
                                                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                                    <span><i class="la la-search"></i></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--end: Search Form -->
                                                        <!--begin: Datatable -->
                                                        <div id="modal_datatable_ajax_source-vo"></div>

                                                        <!--end: Datatable -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-clean btn-bold btn-upper btn-font-sm" data-dismiss="modal">Chiudi</button>
                                                            <button type="button" class="btn btn-default btn-bold btn-upper btn-font-sm" id="salvaPianoDiStudi">Salva</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="ModalTitoli" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content" id="modalContent">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Aggiungi Titolo</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="categoria">Categoria Titolo</label>
                                                    <select class="form-control" id="categoriaTitolo" onchange=FillTitolo()>
                                                    </select>
                                                </div>

                                                <label for="exampleFormControlSelect1">Titolo</label>
                                                <div class="form-group">
                                                    <select id="select2-multiple" class="form-control select2-single">
                                                        <option selected="selected" value="-1"> - Seleziona Prima Una Categoria - </option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Luogo Conseguimento Titolo</label>
                                                    <input type="text" class="form-control" id="luogo" placeholder="Luogo">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Data Conseguimento Titolo</label>
                                                    <select name="yearpicker" class="form-control" id="yearpicker"></select>

                                                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                                                    <script type="text/javascript">
                                                        let startYear = 1950;
                                                        let endYear = new Date().getFullYear();
                                                        for (i = endYear; i > startYear; i--) {
                                                            $('#yearpicker').append($('<option />').val(i + '/' + (i + 1)).html(i + '/' + (i + 1)));
                                                        }
                                                    </script>
                                                </div>

                                                <label for="exampleInputEmail1">Voto</label>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <input type="number" class="form-control" id="voto" placeholder="Voto">
                                                    </div>

                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" id="lode" value="option2">
                                                        <label class="form-check-label" for="inlineCheckbox2">Lode</label>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                                                <button type="button" class="btn btn-primary" id="salvaTitolo">Salva</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Modal AddEsamiVo -->
                                <div class="modal fade" id="ModalAddEsamiVo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content" id="modalContent">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Aggiungi EsameVo</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table id="examVoTable" class="table">
                                                    <thead>
                                                        <tr class="row">
                                                            <td class="col-md-6">Nome</td>
                                                            <td class="col-md-6">Semestri</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tableBodyVo">
                                                        <tr class="row">
                                                            <td class="col-md-6"><input type="text" class="form-control" name="semestriModal" placeholder="Nome" /></td>
                                                            <td class="col-md-6">
                                                                <select class="form-control semestriModal" name="SemestriModal">
                                                                    <option value="0"> -- Seleziona Durata -- </option>
                                                                    <option value="6">Un Semestre</option>
                                                                    <option value="12">Una Annualità</option>
                                                                    <option value="24">Due Annualità</option>
                                                                    <option value="36">Tre Annualità</option>
                                                                    <option value="48">Tre Annualità</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <thead>
                                                            <td>Esame Equivalente</td>
                                                        </thead>
                                                        <tr>
                                                            <td>
                                                                <select class="form-control equivalenti" name="equivalentiModal">
                                                                  
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                                                <button type="button" class="btn btn-primary" id="salvaEsameVo">Salva</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal AddEsami -->
                                <div class="modal fade" id="ModalAddEsami" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content" id="modalContent">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Aggiungi Esame</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table id="examTable" class=" table order-list">
                                                    <thead>
                                                        <tr class="row">
                                                            <td class="col-md-8">Nome</td>
                                                            <td>CFU</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tableBody">
                                                        <tr>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="5" style="text-align: left;">
                                                                <input type="button" class="btn btn-brand btn-elevate btn-pill btn-elevate-air " id="addrow" value="Add Row" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                                                <button type="button" class="btn btn-primary" id="salvaEsami">Salva</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>




                    </div>

                </div>

            </div>

            <!--End:: App Titoli-->
            <!--Begin:: App Esami-->
            <!--End:: App Esami-->
        </div>


        <!--End::App-->
    </div>

    <!-- end:: Content -->
</div>

@section JavaScript
{
    <script src="~/Content/js/demo1/pages/crud/metronic-datatable/base/data-ajax.js" type="text/javascript"></script>
}
